@import '../../style/func';
@import '../../style/var';

.balance-container {
  padding-top: px2rem(88px);

  .balance-main-content {
    padding-top: px2rem(30px);

    .balance-header {
      font-size: px2rem(32px);
      color: #999999;
      padding: 0 px2rem(30px);
    }

    .balance-form {
      background-color: #ffffff;
      min-height: px2rem(250px);
      margin-top: px2rem(30px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p:nth-of-type(1) {
        font-size: px2rem(40px);
      }

      p:nth-of-type(2) {
        font-size: px2rem(40px);
        margin-top: px2rem(30px);
        ::-webkit-input-placeholder {
          color: #ccc;
        }
        input {
          border: none;
          font-size: px2rem(40px);
          width: px2rem(180px);
        }
      }
    }
    .submit-btn{
      width: 90%;
      background-color: $base-color;
      margin: px2rem(50px) auto 0;
      border-radius: px2rem(10px);
      line-height: px2rem(100px);
      font-size: px2rem(40px);
      color: #ffffff;
      text-align: center;
    }
  }
}