@import '../../style/func.scss';
@import '../../style/var';

.home-container {
  padding-top: px2rem(88px);

  .common-title {
    font-size: px2rem(36px);
    color: $base-color;
    padding: px2rem(30px);
    text-align: left;
  }

  .home-form {
    background-color: #ffffff;

    .home-form-item {
      height: px2rem(120px);
      border-bottom: 1px solid #eeeeee;

      span {
        font-size: px2rem(32px);
        color: #555;
        margin-left: px2rem(30px);
        margin-right: px2rem(20px);
      }

      input {
        border: none;
        font-size: px2rem(30px);
      }

      ::-webkit-input-placeholder {
        color: #ccc;
      }
    }
  }

  .common-select-btn {
    background-color: #ffffff;
    display: block;
    min-height: px2rem(120px);
    font-size: px2rem(42px);
    color: #cccccc;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .selected-pro-list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .selected-pro-item {
        width: px2rem(340px);
        margin: px2rem(10px);
        line-height: px2rem(50px);
        text-align: center;
        font-size: px2rem(32px);
      }
    }
  }

  .upload-img-con {
    text-align: center;

    .file-label {
      position: relative;

      input[type='file'] {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: red;
        top: 0;
        right: 0;
        opacity: 0;
      }
    }

    .select-img {
      margin-top: 10px;
    }
  }
  .submit-btn{
    width: 90%;
    background-color: $base-color;
    margin: px2rem(50px) auto 0;
    border-radius: px2rem(10px);
    line-height: px2rem(100px);
    font-size: px2rem(40px);
    color: #ffffff;
    text-align: center;
  }
}